table, th, td {
    text-align: center;
    border: 1px solid rgb(236, 4, 4);
    border-collapse: collapse;
    padding: 5px;
}

table tr:nth-child(odd) {
    background-color: #6fc3e43a;
}

table tr:nth-child(even) {
    text-align: center;
    background-color: #c56c6c;
}
